Repository crispindeity/issue-tracker, pull requests merged in 2022-11, with the labels that each got.

#237 [geombong/issue-tracker#236] Fix Pagination API
  BE/src/main/java/team20/issuetracker/domain/issue/IssueRepository.java
  BE/src/main/java/team20/issuetracker/domain/issue/IssueRepositoryCustom.java
  BE/src/main/java/team20/issuetracker/domain/issue/IssueRepositoryImpl.java
  BE/src/main/java/team20/issuetracker/service/IssueService.java
Labels: 🐞 BugFix, 📬 API, BE

#240 Test: Add Comment Controller Test
  BE/src/test/java/team20/issuetracker/controller/CommentControllerTest.java
Labels: 📬 API, BE, ✅ Test

#242 Test: Add AssigneeControllerTest
  BE/src/test/java/team20/issuetracker/controller/AssigneeControllerTest.java
Labels: 📬 API, BE, ✅ Test

#244 Test: Add Oauth Controller Test
  BE/src/main/java/team20/issuetracker/controller/OauthController.java
  BE/src/test/java/team20/issuetracker/controller/AssigneeControllerTest.java
  BE/src/test/java/team20/issuetracker/controller/OauthControllerTest.java
Labels: 📬 API, BE, ✅ Test

#249 Test/add OAuth service test
  BE/build.gradle
  BE/src/main/java/team20/issuetracker/login/oauth/OauthProvider.java
  BE/src/main/java/team20/issuetracker/login/oauth/dto/request/ResponseUserDto.java
  BE/src/main/java/team20/issuetracker/service/OauthService.java
  BE/src/test/java/team20/issuetracker/service/OAuthServiceTest.java
Labels: 📬 API, BE, ✅ Test

#261 [crispindeity/issue-tracker#260] Fix: IssueServiceTest
  BE/src/main/java/team20/issuetracker/service/IssueService.java
  BE/src/main/java/team20/issuetracker/service/UpdateType.java
Labels: 🐞 BugFix, 📬 API, BE

#291 Doc/add issue api docs
  BE/build.gradle
  BE/src/docs/asciidoc/index.adoc
  BE/src/main/java/team20/issuetracker/config/WebConfig.java
  BE/src/main/java/team20/issuetracker/domain/issue/Issue.java
  BE/src/main/java/team20/issuetracker/service/dto/request/RequestSaveMilestoneDto.java
  BE/src/main/java/team20/issuetracker/service/dto/request/RequestUpdateMilestoneDto.java
  BE/src/main/resources/static/docs/api/index.html
  BE/src/main/resources/static/index.html
  BE/src/test/java/team20/issuetracker/controller/IssueControllerTest.java
  BE/src/test/java/team20/issuetracker/controller/LabelControllerTest.java
  BE/src/test/java/team20/issuetracker/controller/MilestoneControllerTest.java
  BE/src/test/java/team20/issuetracker/controller/OauthControllerTest.java
  BE/src/test/java/team20/issuetracker/docs/AssigneeControllerDocTest.java
  BE/src/test/java/team20/issuetracker/docs/CommentControllerDocTest.java
  BE/src/test/java/team20/issuetracker/docs/IssueControllerDocTest.java
  BE/src/test/java/team20/issuetracker/docs/LabelControllerDocTest.java
  BE/src/test/java/team20/issuetracker/docs/MilestoneControllerDocTest.java
  BE/src/test/java/team20/issuetracker/docs/OAuthControllerDocTest.java
  BE/src/test/java/team20/issuetracker/docs/config/RestDocsConfig.java
  BE/src/test/java/team20/issuetracker/docs/util/ApiDocUtils.java
Labels: 📃 Documentation, 📬 API, BE

#300 [crispindeity/issue-tracker] Edit: Modify Test
  BE/build.gradle
  BE/src/docs/asciidoc/index.adoc
  BE/src/main/java/team20/issuetracker/config/WebConfig.java
  BE/src/main/java/team20/issuetracker/login/oauth/dto/request/RequestRefreshDto.java
  BE/src/main/java/team20/issuetracker/service/OauthService.java
  BE/src/main/resources/static/docs/api/index.html
  BE/src/test/java/team20/issuetracker/config/AuditingConfig.java
  BE/src/test/java/team20/issuetracker/config/WebConfig.java
  BE/src/test/java/team20/issuetracker/controller/OauthControllerTest.java
  BE/src/test/java/team20/issuetracker/docs/OAuthControllerDocTest.java
  BE/src/test/java/team20/issuetracker/integration/controller/AssigneeControllerTest.java
  BE/src/test/java/team20/issuetracker/integration/controller/CommentControllerTest.java
  BE/src/test/java/team20/issuetracker/integration/controller/IssueControllerTest.java
  BE/src/test/java/team20/issuetracker/integration/controller/LabelControllerTest.java
  BE/src/test/java/team20/issuetracker/integration/controller/MilestoneControllerTest.java
  BE/src/test/java/team20/issuetracker/integration/service/CommentServiceTest.java
  BE/src/test/java/team20/issuetracker/integration/service/IssueServiceTest.java
  BE/src/test/java/team20/issuetracker/integration/service/LabelServiceTest.java
  BE/src/test/java/team20/issuetracker/integration/service/MilestoneServiceTest.java
  BE/src/test/java/team20/issuetracker/service/OAuthServiceTest.java
  BE/src/test/resources/application.yml
Labels: BE
